# This is a template for a .env file
# The .env file is used to load environmental variables that you need to set up locally to make this app work
# Create the .env with the below paths and then create two directories <imageInput> and <imageOutput> in your root.

IMAGE_INPUT_PATH=./imageInput/
IMAGE_OUTPUT_PATH=./imageOutput/